/* --- Font imports --- */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

/* --- Component imports --- */
@import url("components/container.css");
@import url("components/navbar.css");
@import url("components/avatar.css");
@import url("components/cards.css");
@import url("components/footer.css");

/* --- Fonts & colors --- */
body {
  background-color: rgb(245,245,245);
  color: #181719;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Krona One', sans-serif;
}

h3 {
  font-size: 16px;
}

