.card-product {
  height: 400px;
  background: white;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 32px;
  transition: .5s all ease;
}

.card-product:hover {
  transform: scale(1.01);
}

.product-img {
  height: 60%;
  width: 100%;
  object-fit: cover;
}

.card-info-container {
  padding: 16px;
}

.info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-icon {
  height: 32px;
  width: 32px;
  margin: 0 16px;
}

.card-user-name {
  margin: 0 16px;
}
