.container {
  padding: 0 160px;
}

.masonry-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  margin-bottom: 32px;
}

@media (max-width: 960px) {
  .masonry-grid {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    padding: 0 40px;
  }
}

@media (max-width: 480px) {
  .masonry-grid {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 0 16px;
  }
}

