.navbar {
  width: 100%;
  height: 120px;
  background: white;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar-logo {
  height: 80%;
  object-fit: cover;
}

.navbar-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  color: #181719;
  text-decoration: none;
  margin-right: 32px;
  transition: .2s all linear;
}

.navbar-link:hover {
  color: #40363B;
  margin-bottom: 4px;
}

@media (max-width: 480px) {
  .navbar-info-container {
    display: none;
  }
}
